{% extends "::base.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    {# asset() pointe dans le dossier /web  #}
    <script src="{{ asset("js/frontendbundle/main.js") }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/frontendbundle/main.css') }}">
{% endblock %}

{% block body %}
    <div style="padding-top:70px"></div>
    <h1>Boutique de Bijoux</h1>

    {# Inclus la vue partiel nav#}
    {{ include('StoreFrontendBundle:Main:_navbar.html.twig') }}

    {# Affiche les message flash contenu dan sle tableau des notice #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}


    {% block content %}
    {% endblock %}
{% endblock %}








