{% extends "StoreFrontendBundle::layout.html.twig" %}

{% block content %}
    <h1>Boutique en ligne</h1>
    <a class="btn btn-primary" href="{{ path('store_frontend_product_new') }}"><i class="fa fa-plus"></i> Créer un produit</a>

    <div>
        {% for product in products %}
            <h4>{{ product.title }}</h4>
            <p>
                <a class="btn btn-warning" href="{{ path('store_frontend_product_edit', {'id': product.id}) }}"><i class="fa fa-pencil"></i> Editer ce produit</a>
            </p>
            <p>
                <a class="btn btn-danger" href="{{ path('store_frontend_product_remove', {'id': product.id}) }}"><i class="fa fa-times"></i> Supprimer ce produit</a>
            </p>
            <p>{{ product.description }}</p>
            <p>{{ product.cat }}</p>
        {% else %}
            <div class="alert alert-danger">
                Attention il n'y a pas de produit</div>
        {% endfor %}
    </div>

    <div>
        {% for category in categories %}
            <p>{{ category.title }}</p>
            <p>{{ category.description }}</p>
        {% else %}
            <div class="alert alert-danger">
                Attention il n'y a pas de categoris</div>
        {% endfor %}
    </div>



{% endblock %}